<div class="container mt-5">

  <div class="row justify-content-center">

    <div class="col-md-5">

      <div class="card shadow">

        <div class="card-header bg-success text-white">
          Reset Password
        </div>

        <div class="card-body">

          <div class="mb-3">
            <label class="form-label">Username</label>
            <input
              class="form-control"
              placeholder="Enter username"
              [(ngModel)]="form.username">
          </div>

          <div class="mb-3">
            <label class="form-label">OTP</label>
            <input
              class="form-control"
              placeholder="Enter OTP"
              [(ngModel)]="form.otp">
          </div>

          <div class="mb-3">
            <label class="form-label">New Password</label>
            <input
              type="password"
              class="form-control"
              placeholder="Enter new password"
              [(ngModel)]="form.password">
          </div>

          <div class="mb-3">
            <label class="form-label">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              placeholder="Confirm new password"
              [(ngModel)]="form.password_confirmation">
          </div>

          <button
            class="btn btn-success w-100"
            (click)="resetPassword()">
            Reset Password
          </button>

        </div>

      </div>

    </div>

  </div>

</div>
